#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  /* margin: 0; */
  font-family: "Times New Roman", Times, serif;
  /* text-align: center; */
  font-size: xx-large;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    rgb(222, 87, 229),
    rgb(136, 99, 251)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* linear-gradient(90deg, rgba(228, 126, 230, 1) 0%, rgba(228, 29, 253, 1) 50%, rgba(148, 69, 252, 1) 100%); */
}

.gifCss {
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1% 0% 0% 38%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .gifCss {
    max-width: 50%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 576px) {
  .gifCss {
    max-width: 75%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
  .gifCss {
    max-width: 100%;
    margin: 10px auto;
  }
}
